

.navbar-modern {
    background: linear-gradient(135deg, #fff, #f1f5f9, #e2e8f0);
    padding: 0 1.5rem;
    box-shadow: 0 2px 15px #00000014;
    width: 100%;
    position: relative;
    z-index: 50;
    display: flex;
    align-items: center;
    min-height: 4.5rem;
}

.bg-custom-nav {
  background-color: #4186DC;
}

.custom-button {
  background-color: #4186dc;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.custom-button:hover {
  background-color: #6ca0db; /* Color de fondo ligeramente más claro en hover */
}

.custom-button:disabled {
  background-color: #c3d1e1;
  cursor: not-allowed;
}